<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donate</title>
    <link rel="stylesheet" href="static/style.css">
    <style>
        .head1{
            padding: 5px;
        }

        .hero-btn:hover{
            border: 1px solid green;
            background: green;
            transition: 0.5s;
            color: white;
        }

        .donatebutton{
            border-color: green;
            color: green;
        }
    </style>
</head>
<body>
    <h1 class="head1">DONATE TO SUPPORT</h1>
    <h4 class="head1">LEARNER-CENTERED EDUCATION</h3>
    <!-- <h6 class="head1">YOUR DONATIONS ARE HIGHLY APPRECIATED</h6> -->
    <section class="facilities">
        <h1>Types Of Donation You Can Make</h1>
        <p>YOUR DONATIONS ARE HIGHLY APPRECIATED</p>
    
        <div class="row">
            <div class="facilities-col">
                <img src="static/donatebooks.jpg"/>
                <h3>Donate Books & Bags</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi asperiores autem recusandae, amet rem in!</p>
                <!-- <button>hello world</button> -->
                <a href="" class="hero-btn donatebutton">Donate</a>
            </div>
            <div class="facilities-col">
                <img src="static/donatefurniture.jpg"/>
                <h3>Donate Desks and Other <br>Furniture</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi asperiores autem!</p>
                <a href="" class="hero-btn donatebutton">Donate</a>
            </div>
            <div class="facilities-col">
                <img src="static/donatemoney.jpg"/>
                <h3>Contribute to Funds</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi asperiores autem recusandae, amet rem in!</p>
                <a href="" class="hero-btn donatebutton">Donate</a>
            </div>
        </div>
    </section>
</body>
</html>