<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FRT Project</title>
    <link rel="stylesheet" href="static/style.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;0,900;1,100;1,300;1,600;1,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
<style>
    .uptotop {
        color: brown;
        border-radius: 50%;
    }
</style>
</head>
<body>
    <section class="header">
        <nav id="NavBar" class="mynav">
            <a href=""><img src="static/logo.jpg"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <!-- <i class="fa fa-times" aria-hidden="true"></i> -->
                <ul>
                    <li><a href="">HOME</a></li>
                    <li><a href="/photoss">GALLERY</a></li>
                    <li><a href="/donate">Donate</a></li>
                    <li><a href="">BLOG</a></li>
                    <li><a href="">MEMBERS</a></li>
                    <li><a href="">CONTACT</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>

        </nav>
        <div class="text-box">
            <h1>Education is Key to success</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut neque excepturi eos, quam ipsa suscipit quaerat recusandae deserunt dolorum perspiciatis voluptas. Commodi molestias eveniet quis alias dolores veniam, sequi voluptate?</p>
            <a href="" class="hero-btn">Visit us to know more</a>
            <!-- <a href="" class="hero-btn">Donate</a> -->
        </div>
    </section>

<!-- ---------------course-------------- -->

<section class="course">
    <h1>Things we offer to our children</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, obcaecati.</p>

    <div class="row">
        <div class="course-col">
            <h3>Primary Education</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, reprehenderit, maiores reiciendis repellat, numquam quis eaque voluptas nisi impedit deleniti debitis adipisci temporibus! Autem, id. Labore molestias error voluptate sint.</p>
        </div>
    
    
        <div class="course-col">
            <h3>Admission Support</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, reprehenderit, maiores reiciendis repellat, numquam quis eaque voluptas nisi impedit deleniti debitis adipisci temporibus! Autem, id. Labore molestias error voluptate sint.</p>
        </div>
    
    
        <div class="course-col">
            <h3>Scholarship Support</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, reprehenderit, maiores reiciendis repellat, numquam quis eaque voluptas nisi impedit deleniti debitis adipisci temporibus! Autem, id. Labore molestias error voluptate sint.</p>
        </div>
    </div>
</section>




<!-- ----------------Facilities----------- -->

<section class="facilities">
    <h1>Achievements Of Students</h1>
    <p>Lorem ipsum dolor sit amet consectetur.</p>

    <div class="row">
        <div class="facilities-col">
            <img src="static/art.jpg"/>
            <h3>Drawing Competition</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi asperiores autem recusandae, amet rem in!</p>
        </div>
        <div class="facilities-col">
            <img src="static/chess.jpg"/>
            <h3>Chess Competition</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi asperiores autem recusandae, amet rem in!</p>
        </div>
        <div class="facilities-col">
            <img src="static/toppers.png"/>
            <h3>Toppers of grade 4 and grade 5</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi asperiores autem recusandae, amet rem in!</p>
        </div>
    </div>
</section>

<!-- ---------------campus------------ -->

<!-- <section class="campus">
    <h1>Our School's Achievements</h1>
    <p>Lorem ipsum dolor sit amet consectetur.</p>

    <div class="row">
        <div class="campus-col">
            <img src="images/london.png"/>
            <div class="layer">
                <h3>LONDON</h3>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi asperiores autem recusandae, amet rem in!</p>
        </div>
        <div class="campus-col">
            <img src="images/newyork.png"/>
            <div class="layer">
                <h3>NEW YORK</h3>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi asperiores autem recusandae, amet rem in!</p>
        </div>
        <div class="campus-col">
            <img src="images/washington.png"/>
            <div class="layer">
                <h3>WASHINGTON</h3>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi asperiores autem recusandae, amet rem in!</p>
        </div>
    </div>

</section> -->

<section class="facilities">
    <h1>Our School's Achievements</h1>
    <p>Lorem ipsum dolor sit amet consectetur.</p>

    <div class="row">
        <div class="facilities-col">
            <img src="static/5thgrade.png"/>
            <h3>Admission</h3>
            <p>Admission of 200+ students to governement/private schools after completing 5th grade.</p>
        </div>
        <div class="facilities-col">
            <img src="static/scholarship.jpg"/>
            <h3>Scholarships</h3>
            <p>Free education to all the students in our school. <br>30% tution fee support to all the students after 5th grade. <br>Full tution fee support to meritorious students after 5th grade.</p>
        </div>
        <div class="facilities-col">
            <img src="static/achievement.png"/>
            <h3>Other Achievements</h3>
            <p>Provided life supporting goods during corona pandemic. <br>Health awareness campaign during corona pandemic.</p>
        </div>
    </div>
</section>


<!-- --------------testimonials---------------- -->

<section class="testimonials">
    <h1>What Our Students And Philanthropists Say</h1>
    <p>Lorem ipsum dolor sit amet consectetur.</p>

    <div class="row">
        <div class="testimonials-col">
            <img src="static/crestine.jpg">
            <div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet maxime dignissimos similique, voluptatum dicta reprehenderit.</p>
                <h3>Christine Berley (Philanthropist)</h3>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>

            </div>
        </div>
        <div class="testimonials-col">
            <img src="static/kartikjpeg.jpeg">
            <div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet maxime dignissimos similique, voluptatum dicta reprehenderit.</p>
                <h3>kartik Verma (student)</h3>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
        </div>
    </div>
</section>

<!-- ----------- call to action------------ -->

<section class="cta">
    <h1>let's take one step towards education</h1>
    <a href="" class="hero-btn">DONATE</a>
</section>

<!-- ----------- footer------------ -->

<section class="footer">
    <h4>About us</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus magni suscipit facilis numquam, soluta molestiae!</p>
    <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-linkedin"></i>
    </div>
    <p>Made with love for future ready talent project</p>
</section>

<!-- 
<div class="uptotop">
    <span>UP</span>
</div> -->


<!-- ---------------Java script for toggle menu -->
    <script>
        var navLinks = document.getElementById("navLinks");
        function showMenu(){
            navLinks.style.right = "0";
        }
        function hideMenu(){
            navLinks.style.right = "-200px";
        }
    </script>


    <!-- <script>
        const navbar = document.querySelector('#NavBar');
        let top = navbar.offsetTop;
        function stickynavbar() {
          if (window.scrollY >= top) {    
            navbar.classList.add('sticky');
          } else {
            navbar.classList.remove('sticky');    
          }
        }
        window.addEventListener('scroll', stickynavbar);
    </script> -->

</body>
</html>